body{
    margin: 0;
    padding: 0;
    background-color: hsl(217, 54%, 11%);
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.card{
    background-color: hsl(216, 50%, 16%);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    max-width: 18rem;
    border-radius: 2rem;
    max-height: fit-content;
}
.info{
    display: flex;
    justify-content: space-between;
}
.profile{
    display: flex;
    justify-content: space-evenly;
}
.line{
    height: 3px;
    width: 300px;
    background-color:hsl(215, 32%, 27%) ;
    margin: 1rem;
}
.heading{
    color: hsl(0, 0%, 100%);
}
.card-body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    width: 18rem;
    height: 290px;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image img {
    border-radius: 1rem;
    height: 290px;
    width: 18rem;
}
.excerpt{
    color: hsl(215, 51%, 70%);
    font-size: 15px;
}
.ethereum{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
    width: 110px;
}
.ethereum p{
    color: hsl(178, 100%, 50%);
}
.days p{
    color: hsl(215, 51%, 70%);
}
.days{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
    width: 120px;
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;

}
.profile p{
    color: hsl(215, 51%, 70%);
}
.profile h4{
    color: hsl(0, 0%, 100%);
}
.avatar{
    height:"20px";
    width:"20px";
    border-radius: 50%;
    border: 2px solid hsl(0, 0%, 100%);;
}